html{
    scroll-behavior: smooth;
}
*{
    font-family:  'Poppins', sans-serif;
    font-weight: normal;
    
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio:16/9){
    .back-video{
        width: 100% ;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .back-video{
        width: auto ;
        height: 100%;
    }
}

img {
    width: 60px;
    height: 60px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: url("andrey-savelev-Q6NgmulLKXs-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 20px 100px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.header:hover::before {
  left: 100%;
}

.navbar a {
  color: #0c0505;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
}
.navbar a:hover {
  color: #f00;
}
#menu-icon {
  font-size: 36px;
  color: #1c0202;
  display: none;
}
/* BREAKPOINTS */
@media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 4%;
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    margin: 1.5rem 0;
  }
  .nav-bg {
    position: absolute;
    top: 79px;
    left: 0;
    width: 100%;
    height: 295px;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 99;
    display: none;
  }
  .nav-bg.active {
    display: block;
  }
}
body {
    background: linear-gradient(to right, #fff4cc, #ffffff);
    
}
#page1{
    background-image: url('forest-3622519_1280.jpg'); /* Replace 'background-image.jpg' with the path to your background image */
    background-size: cover; /* This property ensures the background image covers the entire element */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-attachment: fixed; /* Fixed background image */
    /* Additional styles for the page content if needed */
    color: rgb(250, 133, 133); /* Example text color for better visibility against the background */
    opacity: 0.9;
}
    #page6{
        background-image: url('pexels-mali-maeder-45987.jpg'); /* Replace 'background-image.jpg' with the path to your background image */
        background-size: cover; /* This property ensures the background image covers the entire element */
        background-repeat: no-repeat; /* Prevent the background image from repeating */
        background-attachment: fixed; /* Fixed background image */
        /* Additional styles for the page content if needed */
        color: rgb(250, 133, 133); /* Example text color for better visibility against the background */
        opacity: 0.9;
    }
body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    
}

    
h1 {
    color: rgb(12, 63, 46);
    font-family: montserrat;
    text-decoration: rgb(249, 80, 68) wavy underline;
    font: weight 100%;

}
h2 {
    color: rgb(12, 63, 46);
    font-family: montserrat;
    font: weight 100%  
}
h5 {
    color: rgb(0, 7, 6);
    font-family: montserrat;
    font-size: 34px;

}
#io {
    color: rgb(214, 226, 43);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine;
    border-radius: 20px;
    cursor: pointer;
    
}
a {
    text-decoration: none;
    color: #2d2c2c;
  }
#io:hover {
    background-color: #29b982; 
    box-shadow: 0 0 5px 0 rgba(219, 96, 52, 0.789);
    cursor: pointer;
  }
#somya{
    color: midnightblue;
    font-weight: normal;
}
#jha {
    color: rgb(2, 142, 30);
}
.shree{
    color: black;
}
#page3 {
    text-align: right;
}
#navv {
    padding-left: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#shres{
    font-size: 32px;
    line-height: 50px;
    text-transform: uppercase;
}
#shresa{

    font-size: 24px;
    text-transform: lowercase;
}
#shresaa{
    font-size: 15px;
    text-transform: capitalize;
}
.uy{
    height: 150px;
    color: antiquewhite;
    background-color: rgb(0, 0, 0);
    width: 150px;
    border: 20px;
    border-style: solid;
    border-radius: 32px;
    border-color: black;
    text-align: center;
    display:flex ;
    .container {
        display: flex;
        justify-content: space-around;
    }
    
    .rectangle {
        width: 200px;
        height: 100px;
        border-radius: 20px;
        margin: 10px;
        padding: 20px;
        text-align: center;
        font-size: 18px;
        line-height: 1.5;
        color: white;
    }
    
    .black-rectangle {
        background-color: black;
    }
    
    .red-rectangle {
        background-color: red;
    }
    
    .blue-rectangle {
        background-color: blue;
    }
}
#box {
    display:flex;
    justify-content: space-between; 
    padding-left: 100px;
    height: 2%;
    color: antiquewhite;
    background-color: rgb(0, 0, 0);
    width: 150px;
    border: 20px;
    border-style: solid;
    border-radius: 32px;
    border-color: black;
}



::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color:#d1e5ff;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#feffcc,#ffffff);
    border-radius: 20px;
}
#df{
    height: 100px;
    width: 100px;
    color: black;
    background-color: #f4a5a5;
    border: 2px salmon;
    padding-left: 20px;
    border-radius: 20px;
    margin: 20px;
    align-items: baseline;
}
#brn{
    display: inline-block;
    color: #333;
    border-radius: 10px;
    background-color: #5dff2b;
}
#brn:hover{
    color: #2d2c2c;
    border-radius: 13px;
    background-color: #f0ba5e;
}

#om{
    background-color: #000100;
    width: 170px ;
    height: 170px;
    border-radius: 20px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    text-align: center;
    border: 5px solid black;
}
#omm{
    background-color: #ff2b2b;
    width: 170px ;
    height: 170px;
    border-radius: 20px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    text-align: center;
    align-content: center;
    border: 5px solid black;
    color: #f8ff2b;
}
#ommm{
    background-color: #2bffe6;
    width: 170px ;
    height: 170px;
    border-radius: 20px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    text-align: center;
    border: 5px solid black;
    color: teal;
}
#om:hover{
    background-color: #2bedff;
    width: 180px ;
    height: 180px;
    border-radius: 20px;
    margin: 25px;
    padding: 25px;
    text-align: center;
    border: 5px solid black;
    color: #000100;
}
#omm:hover{
    background-color: #ff792b;
    width: 180px ;
    height: 180px;
    border-radius: 20px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    text-align: center;
    border: 5px solid black;
    color: black;
}
#ommm:hover{
    background-color: #2bb1ff;
    width: 180px ;
    height: 180px;
    border-radius: 20px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    text-align: center;
    border: 5px solid black;
    color: #000100;
}
box{
    align-content: center;
}

.hover-container:hover .hover-text {
    display: block;
}
#om, #omm, #ommm {
    transition: all 0.3s ease; /* Add transition for all properties with 0.3 seconds duration and ease timing function */
}

#om:hover {
    background-color: #5dff2b;
    width: 120px;
}

#omm:hover {
    background-color: #ff792b;
    width: 120px;
}

#ommm:hover {
    background-color: #2bb1ff;
    width: 120px;
}
#circle1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #2bb1ff;
    border: 4px solid black;
    display: inline-block;
    position: relative;
    left: 7px;
    background-image: url("forest-3622519_1280.jpg");
    background-size: cover;
    padding: 20px;
    margin: 15px;
}
#circle2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #2bb1ff;
    border: 4px solid black;
    display: inline-block;
    padding: 20px;
    margin: 15px;
    background-image: url("pexels-mali-maeder-45987.jpg");
    background-size: cover;
}
#circle3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #2bb1ff;
    border: 4px solid black;
    display: inline-block;
    padding: 20px;
    margin: 15px;
    background-image: url("forest-3622519_1280.jpg");
    background-size: cover;
}
#circle4{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #2bb1ff;
    border: 4px solid black;
    display: inline-block;
    padding: 20px;
    margin: 15px;
    background-image: url("CSS3_logo_and_wordmark.svg.png");
    background-size: cover;
}
#circle1:hover{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 4px solid black;
    transition:all 0.7s ease;
    background-color: #2bb1ff;
    display: inline-block;
    position: relative;
    left: 7px;
    background-image: url("forest-3622519_1280.jpg");
    background-size: cover;
    padding: 20px;
    margin: 15px;
}
#circle2:hover{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 4px solid black;
    transition:all 0.7s ease;
    transition: all;
    background-color: #2bb1ff;
    display: inline-block;
    padding: 20px;
    margin: 15px;
    background-image: url("pexels-mali-maeder-45987.jpg");
    background-size: cover;
}
#circle3:hover{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 4px solid black;
    transition:all 0.7s ease;
    background-color: #2bb1ff;
    display: inline-block;
    padding: 20px;
    margin: 15px;
    background-image: url("forest-3622519_1280.jpg");
    background-size: cover;
}
#circle4:hover{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 4px solid black;
    transition:all 0.7s ease;
    background-color: #2bb1ff;
    display: inline-block;
    padding: 20px;
    margin: 15px;
    flex-direction: row;
    background-image: url("CSS3_logo_and_wordmark.svg.png");
    background-size: cover;
}
#page8{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#box1{
    width: 100px;
    height: 100px;
    display: flex;
    background-color: #2bedff;
    border: 2px solid black;
}
#box2{
    width: 100px;
    height: 100px;
    display: flex;
    background-color: #2bff4e;
    border: 2px solid black;
}
#box3{
    width: 100px;
    height: 100px;
    display: flex;
    background-color: #ff2b2b;
    border: 2px solid black;
}
#box4{
    width: 100px;
    height: 100px;
    display: flex;
    background-color: #fb2bff;
    border: 2px solid black;
}
#box5{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: #ffc62b;
    border: 2px solid black;
}
#media1{
    height: 100px;
    width: 100px;
    background-color: #2bb1ff;
}
@media (min-width:600px){
 #media1{
    background-color: red;
}
}



